<!DOCTYPE html>
<html>
<head>
	<title>Welcome to new landing</title>
    <link href='../static/index.css' rel='stylesheet' type='text/css'/>
    <link rel="shortcut icon" type="image/png" href="../static/favicon.png"/>
</head>
<body>

<div class="center">

  <div class="card" style="transform: scale(1.5)">
    <div class="additional">
      <div class="user-card">
        <div class="level center">
          Backend Engineer
        </div>
        <div class="points center">
          3 Years worked
        </div>
        <img src="../static/namsayhi.png" alt="Avatar">
      </div>
    </div>
    <div class="general">
      <h2>New features coming soon</h2>
      <p>
        <span>- Cloud SQL for PostgreSQL connect to flask swagger.</span><br/>
        <span>- Login to access manage routing of the application interface.</span><br/>
        <span>- Required login for api.</span><br/>
        <span>- Refactoring source code and design pt.</span><br/>
      </p>
    </div>
  </div>
</body>
</html>
